{
  "plugins": ["prettier", "cypress"],
  "extends": [
    "react-app",
    "react-app/jest",
    "prettier/@typescript-eslint",
    "plugin:cypress/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }]
  }
}
